:root{
    --color-1:#FFFFFF;
    --color-2:#000000;
    --color-3:#761CBC;
    --color-4:#E4FFEA;
    --color-5:#EDE9FF;
    --color-6:#FFECEC;
    --color-7:#FFF5D7;
    --color-8:#EC441E;
    --color-9:#0092FC;
    --color-10:#706D6D;
    --background-text: #ffffff00;
}

@font-face {
    font-family: "Inter-SemiBold";
    src: url(../storage/font/Inter/Inter_18pt-SemiBold.ttf);
}

@font-face {
    font-family: "Inter-Regular";
    src: url(../storage/font/Inter/Inter_18pt-Regular.ttf);
}

@font-face {
    font-family: "Inter-Medium";
    src: url(../storage/font/Inter/Inter_18pt-Medium.ttf);
}

@font-face {
    font-family: "Dmsans-Regular";
    src: url(../storage/font/DMsans/DMSans-Regular.ttf);
}

@font-face {
    font-family: "Dmsans-Medium";
    src: url(../storage/font/DMsans/DMSans-Medium.ttf);
}