<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/tickets.css">
    <title>Ticekts</title>
</head>
<body>
    <article class="Article__head">
        <a class="a_reversa"  href="detail.html"><img src="../storage/img/revers.svg"></a>
        <a class="a_puntos"   href="#"><img src="../storage/img/botones.svg"></a>
    </article>
    <article class="Article__sistem">
        <div class="div_ticket1">
            <img class="img_codplay" src="../storage/img/codplayticket.png">
            <div class="container">
                <h1>Coldplay: Music of the Spheres</h1>
                <table class="info-table">
                    <tr>
                        <td>Name</td>
                        <td class="highlight">Indriyani Puspita</td>
                    </tr>
                    <tr>
                        <td>Order Number</td>
                        <td class="highlight">CLD09738PL</td>
                    </tr>
                    <tr>
                        <td>Date</td>
                        <td>Nov 15 2023</td>
                    </tr>
                    <tr>
                        <td>Time</td>
                        <td>9:00 PM</td>
                    </tr>
                    <tr>
                        <td>Seat</td>
                        <td>Yellow - West B</td>
                    </tr>
                </table>
            </div>
                    
                </div>
            </div>
            <img class="img_linea"   src="../storage/img/lineasticket.png">
            <img class="img_codi"   src="../storage/img/codigodebarras.png">
        </div>
        <div class="div_ticket2">

        </div>
    </article>
</body>
</html>